:root {
    --toolbar-width: 100px;

    --sidebar-min-width: 250px;
    --sidebar-max-width: 500px;
    
    --resizer-width: 4px;

    /*
        Css ne supporte pas l'utilisation de certaines variables dans un calc().
        Il faut donc faire certains calculs à la main.

        viewport 1199px et moins = affichage de la sidebar en mode mobile.
        viewport 1200px = taille minimale de la sidebar.
        viewport 1815px et plus = taille maximale de la sidebar.
        viewport entre 1200px et 1814px = taille dynamique de la sidebar.
        0.4 = ratio entre les tailles de la sidebar et les tailles du viewport
                 (sidebar-max - sidebar-min) / (viewport-max - viewport-min)
     */
    --sidebar-default-open-width: clamp(
            var(--sidebar-min-width),
            calc(250px /* --sidebar-min-width */ + (100vw - 1200px) * 0.4),
            var(--sidebar-max-width)
    );

    --main-content-legible-max-width: min(1200px, max(800px, calc(100vw - 100px /* --toolbar-width */ - 500px /* --sidebar-max-width */ - 4px /* --resizer-width */)));
}

.main {
    display: flex;
}

.toolbar {
    flex: 0 0 auto;
    width: var(--toolbar-width);
    height: calc(100vh - var(--header-default-size));
    top: var(--header-default-size);
    position: sticky;
    padding: var(--4) var(--2);
    border-right: 1px solid var(--gray-200);
    z-index: 3;
    overflow: auto;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--10);

    transition: width 0.3s ease;
}

.toolbar .toolbar-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--4);
    align-self: stretch;
    padding: 0;
    margin: 0;
}

.toolbar .mobile-button {
    display: none;
    position: absolute;
    padding: var(--4, 16px) var(--3, 12px);
    /*top: en javascript;*/

    /*
     * aligner parfaitement avec les boutons de la toolbar, puisque le menu
     * a un padding-top de 4px;
     */
    margin-top: 4px;

    color: var(--bs-link-color);
    z-index: 10;
}

.toolbar .mobile-button-left {
    left: 0;
}

.toolbar .mobile-button-right {
    right: 0;
}

.toolbar .toolbar-menu img {
    width: 20px;
    height: 20px;
    padding: 1px;
}

.toolbar .toolbar-menu .toolbar-menu-item {
    color: var(--slate-600);
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    gap: var(--1);
    align-self: stretch;
    flex-direction: column;
    cursor: pointer;
}

.toolbar .toolbar-menu .toolbar-menu-item.disabled {
    cursor: default;
    opacity: 0.5;
}

.toolbar .toolbar-menu .toolbar-menu-item .toolbar-menu-item-icon {
    height: 40px;
    width: 40px;
    padding: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 8px;
    border: 1px solid var(--slate-200);

    transition: background-color 0.3s ease;
}

.toolbar .toolbar-menu .toolbar-menu-item.selected .toolbar-menu-item-icon {
    background: var(--slate-100);
    border-width: 2px;
}

.toolbar .toolbar-menu .toolbar-menu-item .toolbar-menu-item-count {
    display: none;
    min-width: 24px;
    padding: var(--1);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;

    position: absolute;
    top: -10px;
    right: 10px;

    border-radius: 9999px;
    background: var(--slate-200);
}

.toolbar .toolbar-menu .toolbar-menu-item#ai-trigger .toolbar-menu-item-count {
    color: white;
    background: var(--new-feature-bg);
}

.toolbar .toolbar-menu .toolbar-menu-item.selected .toolbar-menu-item-count {
    background: var(--main-link-color);
}

.toolbar .toolbar-menu .toolbar-menu-item .toolbar-menu-item-text {
    font-size: 12px;
    text-align: center;
    min-height: 22px;
}

.toolbar .toolbar-menu .toolbar-menu-item .toolbar-menu-item-count span {
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
}

.toolbar .toolbar-menu .toolbar-menu-item i.fa-pepper-hot {
    color: var(--slate-600);
    font-size: 18px;
}

.toolbar .toolbar-menu .toolbar-menu-item.selected i.fa-pepper-hot {
    color: var(--main-link-color);
}

.toolbar .toolbar-menu .toolbar-menu-item.selected .toolbar-menu-item-count span {
    color: var(--white);
}

.toolbar .toolbar-menu .toolbar-menu-item.selected svg path {
    fill: var(--main-link-color);
}

.toolbar .toolbar-menu .toolbar-menu-item.selected img.toolbar-ai {
    content: url("/images/icons/ai-blue.svg");
}

.toolbar .toolbar-menu .toolbar-menu-item.selected img.toolbar-history {
    content: url("/images/icons/history-blue.svg");
}

.toolbar .toolbar-menu .toolbar-menu-item.selected img.toolbar-cited {
    content: url("/images/icons/cited-blue.svg");
}

.toolbar .toolbar-menu .toolbar-menu-item.selected img.toolbar-connects {
    content: url("/images/icons/connects-blue.svg");
}

.toolbar .toolbar-menu .toolbar-menu-item.selected img.toolbar-toc {
    content: url("/images/icons/toc-blue.svg");
}

.toolbar .toolbar-menu .toolbar-menu-item.selected img.toolbar-versions {
    content: url("/images/icons/versions-blue.svg");
}

.toolbar .toolbar-menu .toolbar-menu-item.selected img.toolbar-regulations {
    content: url("/images/icons/regulations-blue.svg");
}

.toolbar .toolbar-menu .toolbar-menu-item.selected img.toolbar-statutes {
    content: url("/images/icons/statutes-blue.svg");
}

.toolbar .toolbar-menu .toolbar-menu-item.selected img.toolbar-amending {
    content: url("/images/icons/amending-blue.svg");
}

.toolbar .toolbar-menu .toolbar-menu-item.selected img.toolbar-amendments {
    content: url("/images/icons/amendments-blue.svg");
}

.canlii-sidebar {
    display: none;
    flex: 0 0 auto;
    width: 0px;
    height: calc(100vh - var(--header-default-size));
    overflow: auto;
    position: sticky;
    top: var(--header-default-size);
    left: var(--toolbar-width);
    max-width: 1000px;
    z-index: 2;

    transition: all 0.3s ease;
}

.canlii-sidebar.no-transition {
    transition: none;
}

.canlii-sidebar-loader {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
}

.canlii-sidebar-loader i {
    font-size: 48px;
    color: var(--main-link-color);
    opacity: 1 !important;
}

.canlii-sidebar-toggler {
    pointer-events: none;
}

.canlii-sidebar-toggler button {
    pointer-events: auto;
}

.canlii-sidebar button {
    color: var(--slate-600);
    background: var(--gray-200);
    transition: all 0.3s ease;
}

.canlii-sidebar ul:not(.sidebar-entry) {
    margin: 0;
    padding: 0;
}

.canlii-sidebar button:not(.nav-link):hover {
    background: var(--gray-300) !important;
}

.canlii-sidebar button i.fa-angles-up {
    display: none;
}

.canlii-sidebar-content:not(.legislation) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    flex: 1 0 0;

    margin: 0 var(--4) var(--10) var(--4);
}

.canlii-sidebar-content.loading {
    opacity: 0.2;
}

.canlii-sidebar-content h3 {
    margin-top: -20px;
}

.canlii-sidebar-content .sidebar-header {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}

.canlii-sidebar-content .sidebar-header dfn {
    font-size: 16px;
}

.canlii-sidebar-content .sidebar-entry {
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;

    border-radius: 8px;
    border: 1px solid var(--gray-100);
    background: var(--gray-50);
}

.canlii-sidebar-content .sidebar-entry-content {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

.canlii-sidebar-content .sidebar-entry-content .sidebar-entry-content-right {
    flex: 1 0 0;
}

div.sidebar-h2 {
    font-size: 14px;
    font-weight: 500;
    padding-top: 8px;
}

.heatmap {
    flex: 0 0 20px;
    height: calc(100vh - var(--header-default-size));
    position: sticky;
    top: var(--header-default-size);
}

.main-content {
    flex: 1 1 fit-content;

    /* puts the footer to the bottom when there is no document */
    display: flex;
    flex-direction: column;
}

.main-content .main-content-legible {
    /* puts the footer to the bottom when there is no document */
    flex: 1 0 auto;

    max-width: var(--main-content-legible-max-width);
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    padding-left: 16px;
}

.flex-resizer {
    flex: 0 0 auto;
    width: var(--resizer-width);
    position: relative;
    cursor: ew-resize;
    border-left: 1px solid var(--gray-200);
    display: none;
}

.flex-resizer i {
    width: 10px;
    padding: 8px 2px;
    background: var(--gray-200);
    border-radius: 0px 4px 4px 0px;

    color: var(--black);
    font-size: 20px;
    position: sticky;
    top: 50%;
    transition: all 0.3s ease;
}

.flex-resizer i:hover {
    background: var(--gray-400);
}

div#title-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

div#title-container .main-title {
    flex: 1 0 0;
    color: var(--black);
    font-size: 24px;
    font-weight: 500;
}

div#title-container div.title-container-links {
    display: flex;
}

div#title-container div.title-container-link {
    display: flex;
    padding: var(--2) var(--3);
    cursor: pointer;

    border-radius: 8px;

    transition: all 0.3s ease;
}

div#title-container div.title-container-link:not(.disabled):hover {
    background: var(--slate-100);
    font-weight: 600;
}

div#title-container div.title-container-link.disabled {
    cursor: initial;
    opacity: 0.5;
}

div#title-container div.title-container-link a,
div#title-container div.title-container-link span.no-link {
    text-align: center;
    line-height: 16px;
    text-decoration: none;
}

div#metas-container {
    display: flex;
    padding: 24px;
    margin-top: 16px;
    margin-bottom: 24px;

    border-radius: 16px;
    border: 1px solid var(--gray-200);
    background: var(--gray-50);
}

div#metas-container a {
    color: var(--gray-bg-link-color);
}

/** VIIBES  */
#originalDocument {
    margin-left: auto !important;
    margin-right: auto !important;
    padding-left: 4px;
    padding-right: 5em;
}

#originalDocument .paragWrapper {
    position: relative;
}

#originalDocument [data-viibes-start] .viibes-marker {
    position: absolute;
    top: -.3em;
    right: -.8em;
    width: .25em;
}

#originalDocument .viibes-marker-toolbox {
    position: absolute;
    top: -3px;
    left: 101.8%;
    color: #6c757d;
    text-indent: 0;
}

#originalDocument .viibes-marker-toolbox div.dropdown-menu {
    min-width: 200px;
}

#originalDocument .viibes-marker-toolbox:hover {
    color: #777;
    cursor: pointer;
}

#originalDocument .viibes-marker-toolbox a.dropdown-item i.fa-link {
    font-size: 12px;
}

#originalDocument .viibes-marker-toolbox a.dropdown-item {
    font-family: "Open Sans";
    color: #212529;
    text-decoration: none;
}

#originalDocument .viibes-marker-toolbox a.dropdown-item:hover {
    text-decoration: none;
}

#originalDocument i.fas,
#originalDocument i.far {
    /* Some legislations stylesheets sets an italic font-style for all i tags, we need to override it. */
    font-style: normal;
}

#originalDocument [data-with-parag] i.fa-pen-to-square {
    color: #6c757d;
    font-size: 20px;
}

#originalDocument [data-with-parag] i.fa-comment-pen {
    font-size: 24px !important;
}

#originalDocument [data-with-parag] i.fa-comment-pen::after {
    content: attr(data-noteup-count-display);
    position: absolute;
    top: -6px;
    right: -6px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    min-width: 18px;
    font-size: 10px;
    font-family: "Open Sans";
    font-weight: 600;
    color: var(--slate-600);
    background: var(--slate-200);
    padding: var(--1);
    border-radius: 9999px;
}

#originalDocument [data-with-parag] i.fa-pen-to-square,
#originalDocument [data-with-parag] i.fa-comment-pen {
    transition: all 250ms ease 0s;
    -webkit-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
}

#originalDocument [data-with-parag] i.fa-pen-to-square:hover,
#originalDocument [data-with-parag] i.fa-comment-pen:hover {
    transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2,1.2);
    -ms-transform: scale(1.2,1.2);
}

.scroll-marker {
    position: absolute;
    height: 100%;
    width: 20px;
    top: 0;
    right: 0;
    z-index: 10;
}

.heatmap span {
    /* markers */
    position: fixed;
    width: 100%;
}

.heatmap span:hover {
    cursor: pointer;
    opacity: 0.9;
}

div#markerLoadingAlert {
    display: none;
    position: fixed;
    bottom: 5%;
    left: 1%;
    z-index: 99;
}

div.scrollHighlight {
    position: relative;
    height: 100%;
    background-color: hsla(201, 50%, 37%, 0.25);
    border-radius: 10px;
    animation-name: postScrollHl;
    animation-duration: 2s;
    opacity: 0;
}

/* TREATMENT*/

div#treatment-tab-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}

div#treatment-tab-nav ul.nav-pills {
    display: flex;
    align-items: center;
    flex: 1 0 0;
    justify-content: center;
    padding: var(--1);
}

div#treatment-tab-nav ul.nav-pills li.nav-item {
    color: var(--slate-600);
    border-radius: 8px;
    border: 1px solid var(--gray-200);
}

div#treatment-tab-nav ul.nav-pills li.nav-item:hover {
    background: var(--slate-100);
}

div#treatment-tab-nav ul.nav-pills li.nav-item:has(button.nav-link.active) {
    background: var(--slate-100);
}

div#treatment-tab-nav ul.nav-pills li.nav-item button.nav-link.active:hover {
    background: transparent !important;
}

div#treatment-tab-nav ul.nav-pills div.count-container {
    position: absolute;
    min-width: 24px;
    padding: var(--1);
    justify-content: center;
    border-radius: 9999px;
    top: -12px;
    right: -6px;
    background: var(--slate-200);
}

.citedby-menu-text {
    display: none;
    padding-left: 4px;
    font-size: 12px;
    font-weight: 600;
    color: var(--slate-600);
}

div#treatment-tab-nav ul.nav-pills div.count-container-parent button.nav-link.active .citedby-menu-text {
    display: inline;
}

div#treatment-tab-nav ul.nav-pills div.count-container-parent button.nav-link.active ~ div.count-container {
    background: var(--main-link-color);
}

div#treatment-tab-nav ul.nav-pills div.count-container span {
    text-align: center;
    font-size: 12px;
    font-weight: 600;
}

div#treatment-tab-nav ul.nav-pills div.count-container-parent button.nav-link.active ~ div.count-container span {
    color: var(--white);
}

div.treatment-density {
    display: flex;
    align-items: center;
    gap: 0;
    list-style: none;
    cursor: pointer;

    border-radius: 6px;
    border: 2px solid var(--gray-200);
    background: var(--white);

    transition: all 0.3s ease;
}

div.treatment-density:hover {
    background-color: var(--gray-200);
}

div.treatment-density .dropdown-menu {
    padding: 6px;
}

div.treatment-density .dropdown-menu a {
    text-decoration: none;
}

div.citedBy li.result {
    background: var(--gray-50);
    padding: 16px;
    margin-bottom: 1.5rem;

    border-radius: 8px;
    border: 1px solid var(--gray-100);
}

div.citedBy button.expand,
div.citedBy button.reduce {
    width: 16px;
    height: 16px;
}

div.citedBy button.expand i,
div.citedBy button.reduce i {
    font-size: 10px;
}

div.citedBy li.result.compact {
    margin-bottom: 8px;
}

div.citedBy li.result div.titleContainer {
    flex: auto;
}

div.citedBy li.result h4 {
    margin: 0;
}

div#citedby-noteup-search {
    position: sticky;
    bottom: 0;
    background: var(--white);
    width: 100%;
}

div#citedby-noteup-search * {
    font-size: 12px;
    text-decoration: none;
}

.cited-highlight a {
    height: 32px;
    width: 34px;
}

/* SUMMARIES */

div#summary-tab-nav button.nav-link {
    color: var(--main-text-color);
    font-size: 12px;
    padding: 6px 12px;
}

div#summary-tab-nav button.nav-link.active {
    background: var(--gray-200);
}

div.summary-alert {
    background: #d1dbe7;
    color: #28394d;
    border: 1px solid var(--gray-200);
}

div.summary-alert a {
    font-weight: 700;
}

.lexSummary h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: auto;
}

.lexSummary h4 {
    font-size: 1.1rem;
}

.lexSummary h5 {
    font-size: 1rem;
}

.lexSummary h6 {
    font-size: 0.9rem;
}

.lexSummary p {
    margin-bottom: 16px;
}

.lexSummary .sourceCite {
    color: rgb(153, 153, 153);
}

.canlii-sidebar .lexSummary ul {
    padding-left: 2rem;
    margin-bottom: 1rem;
}

.lexSummary ul ul {
    padding-left: 0;
}

.lexSummary ul:has(+ ul) {
    margin-bottom: 0;
}

/* Reading pane (we want the toolbar/sidebar to display the same as small screens) */
.main.framed {
    flex-direction: column;
}

.main.framed .toolbar {
    height: auto;
    width: auto;
    overflow: visible;
    position: static;
    top: auto;
    border: none;
    padding: 16px 8px;

    flex: 1 0 0;
    align-self: stretch;
}

.main.framed .toolbar .mobile-button {
    display: none;
}

.main.framed .toolbar .toolbar-menu {
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding-top: 4px;
}

.main.framed .toolbar .toolbar-menu .toolbar-menu-item {
    gap: var(--2);
    padding: var(--3);
    border-radius: 8px;
    border: 1px solid var(--gray-200);

    transition: background-color 0.3s ease;

    flex-direction: initial;
    justify-content: initial;
}

.main.framed .toolbar .toolbar-menu .toolbar-menu-item.selected {
    background: var(--main-link-color);
    color: white;
}

.main.framed .toolbar .toolbar-menu .toolbar-menu-item .toolbar-menu-item-icon {
    height: initial;
    width: initial;
    padding: 0;

    display: initial;
    justify-content: initial;
    align-items: initial;

    background: transparent !important;
    border-radius: initial;
    border: initial;
}

.main.framed .toolbar .toolbar-menu .toolbar-menu-item .toolbar-menu-item-text {
    font-size: 14px;
    display: flex;
    flex: 1 0 0;
    white-space: nowrap;
    min-height: initial;
}

.main.framed .toolbar .toolbar-menu .toolbar-menu-item .toolbar-menu-item-count {
    top: -4px;
    right: -4px;
}

.main.framed .toolbar .toolbar-menu .toolbar-menu-item.selected .toolbar-menu-item-count {
    background: var(--slate-500);
}

.main.framed .toolbar .toolbar-menu .toolbar-menu-item.selected img.toolbar-ai {
    content: url("/images/icons/ai-white.svg");
}

.main.framed .toolbar .toolbar-menu .toolbar-menu-item.selected img.toolbar-history {
    content: url("/images/icons/history-white.svg");
}

.main.framed .toolbar .toolbar-menu .toolbar-menu-item.selected img.toolbar-cited {
    content: url("/images/icons/cited-white.svg");
}

.main.framed .toolbar .toolbar-menu .toolbar-menu-item.selected img.toolbar-connects {
    content: url("/images/icons/connects-white.svg");
}

.main.framed .toolbar .toolbar-menu .toolbar-menu-item.selected img.toolbar-toc {
    content: url("/images/icons/toc-white.svg");
}

.main.framed .toolbar .toolbar-menu .toolbar-menu-item.selected img.toolbar-versions {
    content: url("/images/icons/versions-white.svg");
}

.main.framed .toolbar .toolbar-menu .toolbar-menu-item.selected img.toolbar-regulations {
    content: url("/images/icons/regulations-white.svg");
}

.main.framed .toolbar .toolbar-menu .toolbar-menu-item.selected img.toolbar-statutes {
    content: url("/images/icons/statutes-white.svg");
}

.main.framed .toolbar .toolbar-menu .toolbar-menu-item.selected img.toolbar-amending {
    content: url("/images/icons/amending-white.svg");
}

.main.framed .toolbar .toolbar-menu .toolbar-menu-item.selected img.toolbar-amendments {
    content: url("/images/icons/amendments-white.svg");
}

.main.framed .toolbar .toolbar-menu .toolbar-menu-item.selected i.fa-pepper-hot {
    color: white;
}

.main.framed .canlii-sidebar {
    display: none;
    position: static;
    height: auto;
    width: 100%;
    max-width: var(--main-content-legible-max-width);
    overflow: visible;

    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid var(--gray-300);
}

.main.framed .canlii-sidebar-loader {
    position: relative;
    top: 10px;
}

.main.framed .canlii-sidebar button i.fa-angles-left {
    display: none;
}

.main.framed .canlii-sidebar button i.fa-angles-up {
    display: inline-block;
}

.main.framed .flex-resizer {
    display: none !important;
}

.main.framed .main-content .main-content-legible {
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 24px;
}

.main.framed .heatmap {
    display: none;
}

@media (hover: hover) {
    /* en ajoutant le style ici, l'option ne restera pas sélectionné après un click sur une touch device */
    .toolbar .toolbar-menu .toolbar-menu-item:hover:not(.disabled) .toolbar-menu-item-icon {
        background: var(--slate-100);
        border-width: 2px;
    }

    .main.framed .toolbar .toolbar-menu .toolbar-menu-item:hover:not(.disabled) {
        background: var(--slate-100);
    }

    .main.framed .toolbar .toolbar-menu .toolbar-menu-item.selected:hover:not(.disabled) {
        background: var(--main-link-hover-color);
    }
}

@media print {

    .main {
        flex-direction: column;
    }

    .toolbar {
        display: none;
    }

    .canlii-sidebar {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: auto !important;
        width: 100% !important;
        max-width: var(--main-content-legible-max-width);
        flex: 0 0 fit-content;
        overflow: auto;
    }

    .main-content {
        flex: 1 1 fit-content;
        display: flex;
        flex-direction: column;
    }

    .canlii-sidebar-content h3 {
        margin-top: 16px;
    }

    .flex-resizer {
        display: none !important;
    }

    .heatmap {
        display: none;
    }

    div#lexboxHook {
        display: none !important;
    }

    #originalDocument .viibes-marker,
    #originalDocument .viibes-marker-toolbox  {
        display: none !important;
    }

    div#title-container div.title-container-link {
        display: none;
    }
}

/* all small screens, up to ipad pro */
@media only screen and (max-width: 1199px) {
    .main {
        flex-direction: column;
    }

    .toolbar {
        height: auto;
        width: auto;
        overflow: visible;
        position: static;
        top: auto;
        border: none;
        padding: var(--4, 16px) var(--2, 8px);

        flex: 1 0 0;
        align-self: stretch;
    }

    .toolbar .toolbar-menu {
        flex-direction: row;
        justify-content: center;
        align-items: center;

        padding: var(--1, 4px) 0 0;
        overflow-x: auto;
    }

    .toolbar .mobile-button {
        display: block;
        border-radius: unset;
    }

    .toolbar .toolbar-menu .toolbar-menu-item {
        gap: var(--2);
        padding: var(--3);
        border-radius: 8px;
        border: 1px solid var(--gray-200);
        
        transition: background-color 0.3s ease;
        
        flex-direction: initial;
        justify-content: initial;
    }

    @media (hover: hover) {
        /* en ajoutant le style ici, l'option ne restera pas sélectionné après un click sur une touch device */
        .toolbar .toolbar-menu .toolbar-menu-item:hover:not(.disabled) {
            background: var(--slate-100);
        }

        .toolbar .toolbar-menu .toolbar-menu-item.selected:hover:not(.disabled) {
            background: var(--main-link-hover-color);
        }
    }

    .toolbar .toolbar-menu .toolbar-menu-item.selected {
        background: var(--main-link-color);
        color: white;
    }

    .toolbar .toolbar-menu .toolbar-menu-item .toolbar-menu-item-icon {
        height: initial;
        width: initial;
        padding: 0;

        display: initial;
        justify-content: initial;
        align-items: initial;

        background: transparent !important;
        border-radius: initial;
        border: initial;
    }

    .toolbar .toolbar-menu .toolbar-menu-item .toolbar-menu-item-text {
        font-size: 14px;
        display: flex;
        flex: 1 0 0;
        white-space: nowrap;
        min-height: initial;
    }

    .toolbar .toolbar-menu .toolbar-menu-item .toolbar-menu-item-count {
        top: -4px;
        right: -4px;
    }

    .toolbar .toolbar-menu .toolbar-menu-item.selected .toolbar-menu-item-count {
        background: var(--slate-500);
    }

    .toolbar .toolbar-menu .toolbar-menu-item.selected img.toolbar-ai {
        content: url("/images/icons/ai-white.svg");
    }

    .toolbar .toolbar-menu .toolbar-menu-item.selected img.toolbar-history {
        content: url("/images/icons/history-white.svg");
    }

    .toolbar .toolbar-menu .toolbar-menu-item.selected img.toolbar-cited {
        content: url("/images/icons/cited-white.svg");
    }

    .toolbar .toolbar-menu .toolbar-menu-item.selected img.toolbar-connects {
        content: url("/images/icons/connects-white.svg");
    }

    .toolbar .toolbar-menu .toolbar-menu-item.selected img.toolbar-toc {
        content: url("/images/icons/toc-white.svg");
    }

    .toolbar .toolbar-menu .toolbar-menu-item.selected img.toolbar-versions {
        content: url("/images/icons/versions-white.svg");
    }

    .toolbar .toolbar-menu .toolbar-menu-item.selected img.toolbar-regulations {
        content: url("/images/icons/regulations-white.svg");
    }

    .toolbar .toolbar-menu .toolbar-menu-item.selected img.toolbar-statutes {
        content: url("/images/icons/statutes-white.svg");
    }

    .toolbar .toolbar-menu .toolbar-menu-item.selected img.toolbar-amending {
        content: url("/images/icons/amending-white.svg");
    }

    .toolbar .toolbar-menu .toolbar-menu-item.selected img.toolbar-amendments {
        content: url("/images/icons/amendments-white.svg");
    }

    .toolbar .toolbar-menu .toolbar-menu-item.selected i.fa-pepper-hot {
        color: white;
    }

    .canlii-sidebar {
        display: none;
        position: static;
        height: auto;
        width: auto;
        max-width: none;
        border-bottom: 1px solid var(--gray-300);
    }

    .canlii-sidebar button i.fa-angles-left {
        display: none;
    }

    .canlii-sidebar button i.fa-angles-up {
        display: inline-block;
    }

    .flex-resizer {
        display: none !important;
    }

    .main-content .main-content-legible {
        width: 100%;
        max-width: none;
        padding-left: 8px;
        padding-right: 8px;
        margin-top: 24px;
    }

    .heatmap {
        display: none;
    }

    div#title-container {
        justify-content: center;
        align-items: center;
        gap: 16px;
    }

    div#title-container div.title-container-links {
        flex-direction: column;
        gap: 8px;
    }

    div#title-container div.title-container-link span.title-container-link-text {
        display: none;
    }

    div#metas-container .meta-item .meta-title {
        flex: 0 0 100px;
    }
    
    #originalDocument {
        padding-right: 3.75em;
    }
}

/* landscape tablets, up to laptops/desktops */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    
    #originalDocument {
        padding-right: 3.5em;
        min-width: 0;
    }
    
    #originalDocument .viibes-marker-toolbox {
        left: 102.5%;
    }
}

/* phones, up to portrait tablets and large phones */
@media only screen and (max-width: 767px) {
    .toolbar .toolbar-menu {
        justify-content: flex-start;
    }

    #originalDocument {
        padding-right: 3em;
        min-width: 0;
    }

    #originalDocument .viibes-marker-toolbox {
        left: 105.5%;
    }
}
