:root {
	--warning: #D10000;
}

/* account for header height when scrolling to a paragraph */
div#originalDocument a[name^="sec"] {
	display: inline;
    padding-top: 95px;
    margin-top: -95px;
}

div.canliidocumentcontent *:not(#pdf-viewer *) {
	line-height: 1.5 !important;
}

/* used to reset values for the content of legislation, especially Canada */

div.canliidocumentcontent {
	display: block !important; /* override the BC display none on body style CANLIIDYN-4723 */
    font-size: 14px;
    font-family: "Myriad Web",Verdana,sans-serif;
    font-style: normal;
    margin-right: 0 !important;

	/* force no max-width coming from external legislations css (ie : /en/mb/laws/stat/ccsm-c-c280/latest/ccsm-c-c280.html) */
	max-width: none !important;
}

div.canliidocumentcontent  dfn{
	cursor: auto;
	padding-right: 0;
	border-bottom: none;
	background-image: none;
}

#act\:currency {
	display: none;
}

p.listx {
	display: none;
}
/* Miscellaneous graphic components ----------------------------------------------------------------------------------*/

ul.alternated, ol.alternated {
	list-style-position: outside;
	padding: 0;
	margin: 0;
	border: 1px solid #ddd;
	margin-bottom: 0.5em;
}

ul.alternated {
	list-style-type: none;
}

ul.alternated li, ol.alternated li {
	padding: 0.2em;
	margin-left: 0;
}

ul.alternated li.odd, ol.alternated li.odd {
	background-color: #fff;
}

ul.alternated li.even, ol.alternated li.even {
	background-color: #f4f4f4;
}

button#diff-compare {
	font-size: 14px;
}

.fill {
	width: 100%;
}

td.indented {
	padding-left: 1em!important;
}

span.missing {
	margin-left: 0.5em;
	font-style: italic;
}

span.selected {
	font-weight: bold;
}

.canlii-sidebar-content.legislation .sidebar-content > section {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 16px;
	flex: 1 0 0;

	margin: 0 var(--4) var(--10) var(--4);
}

/* Legislation warnings ----------------------------------------------------------------------------------------------*/

div#warnings, p.spiffy-warning {
	color: var(--warning);
	font-weight: bold;
}

div#warnings p.nored {
	color: #212529;
}

div#warnings span.warning {
	display: block;
}

span.alternateCitationsLabel {
	font-weight: bold;
	padding-left: 15px;
}

/* Multiple parts legislations pager ---------------------------------------------------------------------------------*/

div.pager {
	position: relative;
	margin-top: 1em;
	margin-bottom: 1em;
	height: 1em;
	text-align: center;
}

div.pager a.previous {
	position: absolute;
	left: 0px;
}

div.pager a.next {
	position: absolute;
	right: 0px;
}

#tableOfContentsExpandCollapse i {
	padding-top: 3px;
	font-size: 16px;
	color: var(--main-link-color);
}

#tableOfContentsTree ol {
	list-style-type: none;
	padding-left: 0;
	margin-bottom: 0;
}

#tableOfContentsTree .line {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
}

#tableOfContentsTree .line .article {
	flex: 0 1 95px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-style: italic;
	color: var(--main-label-color);
}

#tableOfContentsTree .long-articles .line .article {
	flex-basis: 115px;
}

#tableOfContentsArticleHover span,
#tableOfContentsTree .line .article span {
	display: inline-block;
}

#tableOfContentsArticleHover .article-number,
#tableOfContentsTree .line .article .article-number {
	min-width: 35px;
	max-width: 90px;
	text-align: right;
}

#tableOfContentsArticleHover .article-separator,
#tableOfContentsTree .line .article .article-separator {
	width: 5px;
	text-align: center;
}

#tableOfContentsArticleHover .article-paragraph,
#tableOfContentsTree .line .article .article-paragraph {
	text-align: left;
}

#tableOfContentsTree .line .toggle {
	flex: 0 2 24px;
	width: 24px;
	height: 21px;
	padding: 0 3px;
	text-align: center;
	font-size: inherit;
}

#tableOfContentsTree .line a:not(.active):focus,
#tableOfContentsTree .line .toggle:focus {
	border: 1px var(--main-link-hover-color) solid;
	border-radius: 4px;
}

#tableOfContentsTree .line .toggle i {
	pointer-events: none;
}

#tableOfContentsTree .line .go-to {
	position: relative;
	flex: 1 3 100%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

#tableOfContentsTree .line a.active,
#tableOfContentsTree .line a:hover {
	font-weight: bold;
}

#tableOfContentsTree .line:hover {
	background-color: var(--gray-200);
	border-radius: 4px;
}

#tableOfContentsTree .line .toggle:has(+ .go-to:hover > a:not(:hover)),
#tableOfContentsTree .line .toggle:not(.invisible) + .go-to:hover {
	background-color: var(--gray-400);
	border-radius: 4px;
	cursor: pointer;
}

#tableOfContentsTree ol ol > li {
	display: none;
}

#tableOfContentsTree .depth-1 .toggle {
	margin-left: 15px;
}

#tableOfContentsTree .depth-2 .toggle {
	margin-left: 30px;
}

#tableOfContentsTree .depth-3 .toggle {
	margin-left: 45px;
}

#tableOfContentsTree .depth-4 .toggle {
	margin-left: 60px;
}

#tableOfContentsTree .depth-5 .toggle {
	margin-left: 75px;
}

#tableOfContentsArticleHover, #tableOfContentsLinkHover {
	border-radius: 4px;
	background-color: var(--gray-200);
	font-weight: bold;
	color: var(--black);
	font-size: 14px;
	padding: 0 var(--4, 16px) 0 0;
	pointer-events: none;
	position: fixed;
	left: 0;
	top: 0;
	display: none;
	z-index: 100001;
}

#tableOfContentsArticleHover {
	padding-right: var(--2, 8px);
	z-index: 100000;
}

#historyTab form {
	width: 100%;
}

#historyTab legend {
	display: none;
}

#historyTab label {
	font-style: italic;
}

#historyTab label a {
	font-style: normal;
}

div.treatment-density {
	align-self: end;
}

/* Little patch to make sure the font size for MB statute is big enough*/
div.satalPatchMb {
	font-size: 14px;
}

/* Solve the problem of Ontario's bad CSS in legislation texts */
div.documentcontent p.Pnote-e {
	height: auto !important;
}

@supports (mix-blend-mode: screen) {
	#pdf-viewer .pdf-viewer-line span.reflex2-link, 
	#pdf-viewer .pdf-viewer-line a.reflex2-link {
		color: #027ABB !important;
        background: #027abb none !important;
        mix-blend-mode: screen;
	}
}

#pdf-viewer .pdf-viewer-page {
	margin: 0 auto 20px auto;
}

#originalDocument [data-with-parag] i.fa-comment-alt::after {
	top: 23%;
}

#reflex2-notification-box {
	top: 90px;
	position: fixed; 
	z-index: 10; 
	display: none;		
	margin-bottom: 20px;
	border-radius: 4px;
	padding-top: 6px;
	padding-left: 15px;
	padding-right: 10px;
	padding-bottom: 3px;
	background-repeat: no-repeat;
	background-position: 10px 11px;
	border: 1px solid #D4D4D4;
	max-width: 800px;
	
	box-shadow: 0 5px 10px #ccc;
	-webkit-box-shadow: 0 5px 10px 0 #ccc;
	
	background-color: #f5f5f5;
}

#reflex2-notification-box-main-table {
	margin-top: 0;
}

#reflex2-notification-box-title {
	text-align: left;
	padding-bottom: 4px; 
	border-bottom-style: solid; 
	border-bottom-width: 1px; 
	border-bottom-color: #D4D4D4; 
	font-size: 14px;
}

#reflex2-notification-box-search-status-div {
	display: inline-block;
	min-width: 90px;
	padding-left: 5px;
}

#reflex2-notification-box-close-button-div {	
	vertical-align: top;
	padding: 0px; 
	margin: 0px; 
	padding-right: 2px;
	padding-right: 3px;
	cursor: pointer; 
}

#reflex2-notification-box-close-button-image {	
	vertical-align: top; 
	padding: 0px; 
	margin: 0px; 
	padding-top: 2px;
}

.reflex2-notification-box-meta-data-label {		
	text-align:left;
	padding-right: 5px;
	vertical-align: top;
	color: #808080;
}

.reflex2-notification-box-meta-data-text {	
	padding-right: 20px;	
}

@media print {
	
	h1.canlii, table.canlii {
		max-width: 90%;
	}
	
	div#tocButtonDiv {
		display: none; 
	}

	#reflex2-notification-box {
		display: none;
	}

	div.pager {
		display: none;
	}
}

@media (max-width: 767px) {

	/* Fix the display of pdf legislations on phones */
	div#pdf-viewer {
		transform: scale(0.49, 0.49) !important;
		transform-origin: left top 0px !important;
		width: 750px !important;
	}
	
	/* Forces Canada legislations to use our default padding on phones */
	div.canliidocumentcontent div.docContents {
	    padding-left: 0 !important;
	    padding-right: 0 !important;
	}
	
	/* Forces BC legislations to not have a margin and a padding on phones */
	div.canliidocumentcontent {
	    margin-right: 0 !important;
	}

	#tableOfContentsTree .line .toggle {
		flex-basis: 32px;
		width: 32px;
		height: 29px;
	}

}
